.Header{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    background-color: '#060606',

}
.nav-menu{
    list-style-type: none;
}
.nav-menu li{
    margin: 8px 0px;
}
.nav-menu li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 30px;
    letter-spacing: 1.9px;
    line-height: 24px;
    /* font-size: 16px; */
    font-weight: 600;
    
}

.nav-menu li a:hover{
    color: #FFC12B;
}
.nav-menu2{
    list-style-type: none;
}
.nav-menu2 li{
    margin: 8px 0px;
    font-size: 20px;
}
.nav-menu2 li a{
    text-decoration: none;
    color: #767676;
    padding: 0px 0px;
}
.nav-menu2 li a:hover{
  color:#FFC12B;
}
.ham-bar{
    list-style-type: none;
    background-color:#FFC12B;
    height: 100rem;
    left: -432.503px;
    /* width: 100%; */
    z-index: 100;
    font-weight: bold;
}
.ham-bar li{
  /*   margin: 8px 0px; */
    font-size: 20px;
}
.ham-bar li a{
    text-decoration: none;
    color: #000000;
}
.ham-bar li a:hover{
    color:#FFFFFF;
  }
.footer-input{
    background-color: transparent;
    border-bottom: 1.8px solid #FFFFFF;
    width: 70%;
}

.form-input{
    background-color: transparent;
    border: 1.8px solid #E0E0E0;
    color: #E0E0E0;
}


.enquire-img{
    position: relative;
}
.enquire-text{
    position: absolute;

}
/* .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .hidden {
    display: none;
  } */