@tailwind base;
@tailwind components;
@tailwind utilities;


 .circle1{
    position: absolute;
    width:  50%;
    height:  40%;
left: -28px;
top: 204px;
background: rgba(255, 193, 43, 0.5);
filter: blur(400px);

}

.circle2{
    position: absolute;
width:  50%;
height:  60%;
right: -28px;
bottom: 0px;
background: rgba(255, 193, 43, 0.5);
filter: blur(400px);

}
.owl-nav{
    visibility:hidden;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot{
    padding: 80px !important;
}

.owl-stage{

}

